*{
  text-align: center;
  background-color: #90c0d4;
}
h1{
  font-family: "Arial Black";
  font-weight: bold;
}
.make-red{
  color: #FA320A;
}
h4, a:visited{
  font-size: 25px;
  color:#FA320A;


}
.js-query{
  text-align: left;
  padding: 1px;
  height: 20px;
  width: 120px;
  background-color: white;
}


iframe {
height: 28.125vw;
width: 50vw;
}
.lightboxcontainer {
  width:100%;
  text-align:left;
}
.lightboxleft {
  width: 40%;
  float:left;
}
.lightboxright {
  float: center;
}
.lightboxright iframe {
  min-height: 390px;
  max-height: 700px;
}
.divtext {
  margin: 36px;
}
@media (max-width: 800px) {
  .lightboxleft {
    width: 100%;
  }
  .lightboxright {
    width: 100%;
  }
  .divtext {
    margin: 12px;
  }
}

